.elementor-798 .elementor-element.elementor-element-431a5cf {
  padding: 80px 0px 10px 0px;
}
.elementor-798
  .elementor-element.elementor-element-75de9a0:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-798
  .elementor-element.elementor-element-75de9a0
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/bg-banner-h5.70b85a6e.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.elementor-798
  .elementor-element.elementor-element-75de9a0
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 50px 50px 50px 50px;
  --e-column-margin-right: 50px;
  --e-column-margin-left: 50px;
  padding: 1px 1px 1px 1px;
}
.elementor-798
  .elementor-element.elementor-element-75de9a0
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-798 .elementor-element.elementor-element-45dcae5 {
  padding: 30px 50px 50px 50px;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-28fcd30.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-28fcd30.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-28fcd30
  > .elementor-element-populated {
  padding: 22px 22px 22px 22px;
}
.elementor-798 .elementor-element.elementor-element-8320903 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-8320903
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-798 .elementor-element.elementor-element-f779062 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-f779062
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-c6a1691.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-c6a1691.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-c6a1691
  > .elementor-element-populated {
  padding: 22px 22px 22px 22px;
}
.elementor-798 .elementor-element.elementor-element-138b1d3 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-138b1d3
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-798 .elementor-element.elementor-element-a58d52e {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-a58d52e
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-0c00a9c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-0c00a9c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-0c00a9c.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-798
  .elementor-element.elementor-element-0c00a9c
  > .elementor-element-populated {
  padding: 22px 22px 22px 22px;
}
.elementor-798 .elementor-element.elementor-element-864f25f {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-864f25f
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-798 .elementor-element.elementor-element-cc20da8 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-cc20da8
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-798
  .elementor-element.elementor-element-dbda009:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-798
  .elementor-element.elementor-element-dbda009
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-091e550);
}
.elementor-798
  .elementor-element.elementor-element-dbda009
  > .elementor-element-populated,
.elementor-798
  .elementor-element.elementor-element-dbda009
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-798
  .elementor-element.elementor-element-dbda009
  > .elementor-background-slideshow {
  border-radius: 45px 45px 45px 45px;
}
.elementor-798
  .elementor-element.elementor-element-dbda009
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-798
  .elementor-element.elementor-element-dbda009
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-798 .elementor-element.elementor-element-d8315b9 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.elementor-798
  .elementor-element.elementor-element-7975acf:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-798
  .elementor-element.elementor-element-7975acf
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-798
  .elementor-element.elementor-element-7975acf
  > .elementor-element-populated,
.elementor-798
  .elementor-element.elementor-element-7975acf
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-798
  .elementor-element.elementor-element-7975acf
  > .elementor-background-slideshow {
  border-radius: 22px 22px 22px 22px;
}
.elementor-798
  .elementor-element.elementor-element-7975acf
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 40px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 40px;
  padding: 33px 0px 33px 0px;
}
.elementor-798
  .elementor-element.elementor-element-7975acf
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-798 .elementor-element.elementor-element-4501425 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-4501425
  .elementor-heading-title {
  color: #3b0e6a;
  font-family: "Average Sans", Sans-serif;
  font-size: 19px;
  font-weight: bold;
}
.elementor-798 .elementor-element.elementor-element-659f7be .ha-dual-btn {
  font-family: "Average Sans", Sans-serif;
  font-weight: 500;
}
.elementor-798 .elementor-element.elementor-element-659f7be .ha-dual-btn--left {
  padding: 16px 30px 16px 30px;
  border-radius: 55px 55px 55px 55px;
  font-family: "Average Sans", Sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--e-global-color-0560c2e);
}
.elementor-798
  .elementor-element.elementor-element-659f7be
  .ha-dual-btn--left:hover {
  color: #ffffff;
  background-color: #957afb;
}
.elementor-798
  .elementor-element.elementor-element-659f7be
  .ha-dual-btn--right {
  padding: 16px 20px 16px 20px;
  border-radius: 55px 55px 55px 55px;
  font-family: "Alegreya Sans", Sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--e-global-color-0560c2e);
}
.elementor-798
  .elementor-element.elementor-element-659f7be
  .ha-dual-btn--right:hover {
  color: #ffffff;
  background-color: #947bf4;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-d907d6d.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-d907d6d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798 .elementor-element.elementor-element-c809f49 {
  text-align: left;
  color: #271a56;
  font-size: 15px;
  font-weight: 400;
}
.elementor-798 .elementor-element.elementor-element-44c60e6 {
  --spacer-size: 26px;
}
.elementor-798
  .elementor-element.elementor-element-5bb06d2:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-798
  .elementor-element.elementor-element-5bb06d2
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-091e550);
}
.elementor-798
  .elementor-element.elementor-element-5bb06d2
  > .elementor-element-populated,
.elementor-798
  .elementor-element.elementor-element-5bb06d2
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-798
  .elementor-element.elementor-element-5bb06d2
  > .elementor-background-slideshow {
  border-radius: 35px 35px 35px 35px;
}
.elementor-798
  .elementor-element.elementor-element-5bb06d2
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 33px 33px 33px 33px;
}
.elementor-798
  .elementor-element.elementor-element-5bb06d2
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-798 .elementor-element.elementor-element-c6d7d5e {
  text-align: left;
}
.elementor-798
  .elementor-element.elementor-element-c6d7d5e
  .elementor-heading-title {
  color: #3b0e6a;
  font-family: "Average Sans", Sans-serif;
  font-size: 19px;
  font-weight: bold;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-6c0ef8d.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-6c0ef8d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-7866741.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
}
.elementor-798
  .elementor-element.elementor-element-7866741.elementor-view-framed
  .elementor-icon,
.elementor-798
  .elementor-element.elementor-element-7866741.elementor-view-default
  .elementor-icon {
  fill: #000000;
  color: #000000;
  border-color: #000000;
}
.elementor-798 .elementor-element.elementor-element-7866741 {
  --icon-box-icon-margin: 14px;
}
.elementor-798 .elementor-element.elementor-element-7866741 .elementor-icon {
  font-size: 62px;
}
.elementor-798
  .elementor-element.elementor-element-7866741
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-798
  .elementor-element.elementor-element-7866741
  .elementor-icon-box-title {
  color: #3d2a89;
}
.elementor-798
  .elementor-element.elementor-element-7866741
  .elementor-icon-box-title,
.elementor-798
  .elementor-element.elementor-element-7866741
  .elementor-icon-box-title
  a {
  font-size: 17px;
  font-weight: bold;
}
.elementor-798
  .elementor-element.elementor-element-7866741
  .elementor-icon-box-description {
  color: var(--e-global-color-7910f21);
  font-size: 13px;
  font-weight: 400;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-920be10.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-920be10.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-920be10
  > .elementor-element-populated {
  padding: 22px 22px 22px 22px;
}
.elementor-798 .elementor-element.elementor-element-6721687 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-6721687
  .elementor-heading-title {
  color: #4d4d4d;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-798 .elementor-element.elementor-element-485f877 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-485f877
  .elementor-heading-title {
  color: var(--e-global-color-0560c2e);
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-2c1a93a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-2c1a93a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-2c1a93a
  > .elementor-element-populated {
  padding: 22px 22px 22px 22px;
}
.elementor-798 .elementor-element.elementor-element-17d6049 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-17d6049
  .elementor-heading-title {
  color: #4d4d4d;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-798 .elementor-element.elementor-element-7ca81e8 {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-7ca81e8
  .elementor-heading-title {
  color: #0facc9;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-fa81236.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-fa81236.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-fa81236
  > .elementor-element-populated {
  padding: 22px 22px 22px 22px;
}
.elementor-798 .elementor-element.elementor-element-35f38ca {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-35f38ca
  .elementor-heading-title {
  color: #4d4d4d;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-798 .elementor-element.elementor-element-27e39fd {
  text-align: center;
}
.elementor-798
  .elementor-element.elementor-element-27e39fd
  .elementor-heading-title {
  color: #ff5ea9;
  font-family: "Aleo", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-798
  .elementor-element.elementor-element-578b608.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-578b608.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-798
  .elementor-element.elementor-element-578b608
  > .elementor-element-populated {
  padding: 22px 22px 22px 22px;
}
.elementor-798 .elementor-element.elementor-element-1da0f73 .elementor-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  background-color: var(--e-global-color-0560c2e);
  border-radius: 22px 22px 22px 22px;
  box-shadow: 0px 0px 10px 0px rgba(238.00000000000006, 213, 255, 0.96) inset;
}
.elementor-798
  .elementor-element.elementor-element-1da0f73
  .elementor-button:hover,
.elementor-798
  .elementor-element.elementor-element-1da0f73
  .elementor-button:focus {
  color: #ffffff;
  background-color: #957cf3;
}
.elementor-798
  .elementor-element.elementor-element-1da0f73
  .elementor-button:hover
  svg,
.elementor-798
  .elementor-element.elementor-element-1da0f73
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-798 .elementor-element.elementor-element-1a42019 {
  --spacer-size: 63px;
}
body:not(.rtl) .elementor-798 .elementor-element.elementor-element-1532ca4 {
  left: 0px;
}
body.rtl .elementor-798 .elementor-element.elementor-element-1532ca4 {
  right: 0px;
}
.elementor-798 .elementor-element.elementor-element-1532ca4 {
  bottom: 0px;
}
:root {
  --page-title-display: none;
}
body.elementor-page-798:not(.elementor-motion-effects-element-type-background),
body.elementor-page-798
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f1ecff;
  background-image: url("/daobg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--tablet-layout-queue
    .ha-dual-btn--left {
    margin-right: calc(17px / 2);
    margin-bottom: 0;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--tablet-layout-stack
    .ha-dual-btn--left {
    margin-bottom: calc(17px / 2);
    margin-right: 0;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--tablet-layout-queue
    .ha-dual-btn--right {
    margin-left: calc(17px / 2);
    margin-top: 0;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--tablet-layout-stack
    .ha-dual-btn--right {
    margin-top: calc(17px / 2);
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .elementor-798
    .elementor-element.elementor-element-75de9a0
    > .elementor-element-populated {
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
  }
  .elementor-798 .elementor-element.elementor-element-45dcae5 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-798 .elementor-element.elementor-element-28fcd30 {
    width: 33%;
  }
  .elementor-798
    .elementor-element.elementor-element-8320903
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-f779062
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-f779062
    > .elementor-widget-container {
    margin: -21px 0px 0px 0px;
  }
  .elementor-798 .elementor-element.elementor-element-c6a1691 {
    width: 33%;
  }
  .elementor-798
    .elementor-element.elementor-element-138b1d3
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-a58d52e
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-a58d52e
    > .elementor-widget-container {
    margin: -21px 0px 0px 0px;
  }
  .elementor-798 .elementor-element.elementor-element-0c00a9c {
    width: 33%;
  }
  .elementor-798
    .elementor-element.elementor-element-864f25f
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-cc20da8
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-cc20da8
    > .elementor-widget-container {
    margin: -21px 0px 0px 0px;
  }
  .elementor-798
    .elementor-element.elementor-element-dbda009
    > .elementor-element-populated {
    margin: 22px 22px 22px 22px;
    --e-column-margin-right: 22px;
    --e-column-margin-left: 22px;
    padding: 20px 20px 20px 20px;
  }
  .elementor-798
    .elementor-element.elementor-element-7975acf
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-798 .elementor-element.elementor-element-659f7be .ha-dual-btn {
    padding: 15px 15px 15px 15px;
    font-size: 12px;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--mobile-layout-queue
    .ha-dual-btn--left {
    margin-right: calc(17px / 2);
    margin-bottom: 0;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--mobile-layout-stack
    .ha-dual-btn--left {
    margin-bottom: calc(17px / 2);
    margin-right: 0;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--mobile-layout-queue
    .ha-dual-btn--right {
    margin-left: calc(17px / 2);
    margin-top: 0;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--mobile-layout-stack
    .ha-dual-btn--right {
    margin-top: calc(17px / 2);
    margin-left: 0;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be
    .ha-dual-btn--left {
    padding: 10px 20px 10px 20px;
    border-radius: 22px 22px 22px 22px;
    font-size: 12px;
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be
    .ha-dual-btn--right {
    padding: 10px 20px 10px 20px;
  }
  .elementor-798
    .elementor-element.elementor-element-5bb06d2
    > .elementor-element-populated {
    margin: 22px 22px 22px 22px;
    --e-column-margin-right: 22px;
    --e-column-margin-left: 22px;
    padding: 20px 20px 20px 20px;
  }
  .elementor-798 .elementor-element.elementor-element-7866741 {
    --icon-box-icon-margin: 0px;
  }
  .elementor-798
    .elementor-element.elementor-element-7866741
    .elementor-icon-box-wrapper {
    text-align: center;
  }
  .elementor-798 .elementor-element.elementor-element-920be10 {
    width: 33%;
  }
  .elementor-798
    .elementor-element.elementor-element-6721687
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-485f877
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-485f877
    > .elementor-widget-container {
    margin: -21px 0px 0px 0px;
  }
  .elementor-798 .elementor-element.elementor-element-2c1a93a {
    width: 33%;
  }
  .elementor-798
    .elementor-element.elementor-element-17d6049
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-7ca81e8
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-7ca81e8
    > .elementor-widget-container {
    margin: -21px 0px 0px 0px;
  }
  .elementor-798 .elementor-element.elementor-element-fa81236 {
    width: 33%;
  }
  .elementor-798
    .elementor-element.elementor-element-35f38ca
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-27e39fd
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-798
    .elementor-element.elementor-element-27e39fd
    > .elementor-widget-container {
    margin: -21px 0px 0px 0px;
  }
  .elementor-798 .elementor-element.elementor-element-578b608 {
    width: 100%;
  }
  .elementor-798
    .elementor-element.elementor-element-88539b3
    > .elementor-element-populated {
    padding: 22px 22px 22px 0px;
  }
  .elementor-798 .elementor-element.elementor-element-1532ca4 {
    bottom: 55px;
  }
}
@media (min-width: 768px) {
  .elementor-798 .elementor-element.elementor-element-5d641e2 {
    width: 15.351%;
  }
  .elementor-798 .elementor-element.elementor-element-75de9a0 {
    width: 84.649%;
  }
  .elementor-798 .elementor-element.elementor-element-54c20a6 {
    width: 18.332%;
  }
  .elementor-798 .elementor-element.elementor-element-dbda009 {
    width: 81.334%;
  }
  .elementor-798 .elementor-element.elementor-element-7975acf {
    width: 42.284%;
  }
  .elementor-798 .elementor-element.elementor-element-d907d6d {
    width: 57.716%;
  }
  .elementor-798 .elementor-element.elementor-element-0bb8297 {
    width: 18.332%;
  }
  .elementor-798 .elementor-element.elementor-element-5bb06d2 {
    width: 81.334%;
  }
}
@media (min-width: 1025px) {
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--layout-queue
    .ha-dual-btn--left {
    margin-right: calc(17px / 2);
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--layout-stack
    .ha-dual-btn--left {
    margin-bottom: calc(17px / 2);
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--layout-queue
    .ha-dual-btn--right {
    margin-left: calc(17px / 2);
  }
  .elementor-798
    .elementor-element.elementor-element-659f7be.ha-dual-button--layout-stack
    .ha-dual-btn--right {
    margin-top: calc(17px / 2);
  }
}
